services:
  app-api-v1:
    build:
      context: ./services/api/v1
    image: microservices-qa-ci-cd-lab-app-api-v1:latest
    container_name: qa-app-api-v1
    expose:
      - "8000"
    networks:
      - qa_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app_api_v1.entrypoints=websecure"
      - "traefik.http.routers.app_api_v1.rule=Host(`api-v1.${QA_BASE_DOMAIN}`)"
      - "traefik.http.routers.app_api_v1.tls=true"
      - "traefik.http.services.app_api_v1.loadbalancer.server.port=8000"
      - "prometheus.scrape=true"
      - "prometheus.port=8000"
      - "prometheus.path=/metrics"

  qa-runner-api-v1:
    build:
      context: ./runner
    image: microservices-qa-ci-cd-lab-runner:latest
    container_name: qa-runner-api-v1
    depends_on:
      - app-api-v1
    environment:
      MODULE_NAME: "api-v1"
      TARGET_BASE_URL: "http://app-api-v1:8000"
      SERVICEINTENT_PATH: "/configs/serviceintent.yaml"
      TEST_MATRIX_PATH: "/configs/test_matrix.yaml"
      STATE_FILE: "/state/last_good.json"
      REPORTS_DIR: "/reports"
    volumes:
      - ./modules/api-v1/configs:/configs:ro
      - ./state:/state
      - ./reports:/reports
    networks:
      - qa_net
    command: >
        --module-name api-v1
        --serviceintent /configs/serviceintent.yaml
        --test-matrix /configs/test_matrix.yaml
        --state-file /state/last_good.json
        --reports-dir /reports
